<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<title>{{ page.title }} - {{ site.title }}</title>

	{% seo %}

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

	<!--     Fonts and icons     -->
	<!--<link rel="stylesheet" href="{{ "/assets/css/nucleo-icons.css" | relative_url }}">-->
	<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!--<link href="assets/css/nucleo-icons.css" rel="stylesheet" />-->
</head>

<head>
